<mat-grid-list cols="5" rowHeight="2:1">
  <mat-grid-tile id="owner1wins">
    <div>
      <h4>{{ owner1.firstName + " " + owner1.lastInitial + " Wins" }}</h4>
      <h1>{{ matchupStats.o1wins }}</h1>
    </div>
  </mat-grid-tile>
  <mat-grid-tile id="owner2wins">
    <div>
      <h4>{{ owner2.firstName + " " + owner2.lastInitial + " Wins" }}</h4>
      <h1>{{ matchupStats.o2wins }}</h1>
    </div>
  </mat-grid-tile>
  <mat-grid-tile id="ties">
    <div>
      <h4>{{ "Ties" }}</h4>
      <h1>{{ matchupStats.ties }}</h1>
    </div>
  </mat-grid-tile>
  <mat-grid-tile id="o1points">
    <div>
      <h4>{{ owner1.firstName + " " + owner1.lastInitial + " Points" }}</h4>
      <h1>{{ matchupStats.o1points}}</h1>
    </div>
  </mat-grid-tile>
  <mat-grid-tile id="o2points">
    <div>
      <h4>{{ owner2.firstName + " " + owner2.lastInitial + " Points" }}</h4>
      <h1>{{ matchupStats.o2points }}</h1>
    </div>
  </mat-grid-tile>
</mat-grid-list>
