<mat-card>
  <div fxLayout="row wrap">
    <div class="team-names" fxFlex="90%">
      <mat-card-content *ngIf="awayRecord"><a routerLink="{{ '/teams/' + game.awayTeam.id }}">{{ game.awayTeam.name }}</a> ({{ this.awayRecord.wins }}-{{ this.awayRecord.losses }}-{{ this.awayRecord.ties }})
        <p class="small-font"><a routerLink="{{ '/owners/' + game.awayTeam.owner.id }}">{{ game.awayTeam.owner.firstName }} {{ game.awayTeam.owner.lastInitial }}</a> </p>
      </mat-card-content>
      <mat-card-content *ngIf="homeRecord"><a routerLink="{{ '/teams/' + game.homeTeam.id }}">{{ game.homeTeam.name }}</a> ({{ this.homeRecord.wins }}-{{ this.homeRecord.losses }}-{{ this.homeRecord.ties }})
        <p class="small-font"><a routerLink="{{ '/owners/' + game.homeTeam.owner.id }}">{{ game.homeTeam.owner.firstName }} {{ game.homeTeam.owner.lastInitial }}</a> </p>
      </mat-card-content>
    </div>

    <div class="game-scores" fxFlex="10%">
      <mat-card-content>{{ game.awayScore }}</mat-card-content>
      <mat-card-content>{{ game.homeScore }}</mat-card-content>
    </div>
  </div>
  <mat-card-subtitle>{{ game.gameType }}</mat-card-subtitle>
</mat-card>
