<mat-card>
  <mat-card-header>
    <mat-card-title>{{ owner.firstName + " " + owner.lastInitial }}</mat-card-title>
    <mat-card-subtitle class="small-font">
      {{ owner.division | titlecase }} Division
    </mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <p *ngIf="seasons">Seasons: {{ seasons.firstSeason + "-" + seasons.lastSeason }}</p>
    <p *ngIf="allTimeRecord">All-Time Record: {{ allTimeRecord.wins + "-" + allTimeRecord.losses + "-" + allTimeRecord.ties }}</p>
  </mat-card-content>
</mat-card>
