mat-card-title {
  margin-bottom: 6px;
}

mat-card {
  padding-bottom: 40px;
  width: 200px;
}

p {
  margin-bottom: 0px;
  margin-left: 16px;
  font-size: 12px;
}

mat-card-actions {
  padding-left: 20px;
}
