<mat-card>
  <mat-card-header *ngIf="owner">
    <mat-card-title>{{ owner.firstName + " " + owner.lastInitial }}</mat-card-title>
    <mat-card-subtitle class="small-font">
      {{ owner.division | titlecase }} Division
    </mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <p *ngIf="firstSeason && lastSeason">Seasons: {{ firstSeason + "-" + lastSeason }}</p>
    <p *ngIf="allTimeStats">All-Time Record: {{ allTimeStats.wins + "-" + allTimeStats.losses + "-" + allTimeStats.ties }}</p>
    <p *ngIf="championships">Bowery Bowls: {{ displayChampionships() }}</p>
  </mat-card-content>
  <mat-card-actions>
    <button mat-raised-button routerLink="{{ '/owners/' + owner.id }}">View Owner Details</button>
  </mat-card-actions>
</mat-card>
