<div class="gray-border">
  <mat-table #table [dataSource]="dataSource">
    <ng-container cdkColumnDef="week">
      <mat-header-cell *cdkHeaderCellDef>Week</mat-header-cell>
      <mat-cell *cdkCellDef="let element">{{ element.week }}</mat-cell>
    </ng-container>

    <ng-container cdkColumnDef="gameType">
      <mat-header-cell *cdkHeaderCellDef>Game Type</mat-header-cell>
      <mat-cell *cdkCellDef="let element">{{ element.gameType }}</mat-cell>
    </ng-container>

    <ng-container cdkColumnDef="home">
      <mat-header-cell *cdkHeaderCellDef></mat-header-cell>
      <mat-cell *cdkCellDef="let element">{{ element.home }}</mat-cell>
    </ng-container>

    <ng-container cdkColumnDef="opponent">
      <mat-header-cell *cdkHeaderCellDef>Opponent</mat-header-cell>
      <mat-cell *cdkCellDef="let element"><a routerLink="{{ '/teams/' + element.opposingTeamId }}">{{ element.opposingTeam }}</a>&nbsp;(<a routerLink="{{ '/owners/' + element.opposingOwnerId }}">{{ element.opposingOwner }}</a>)</mat-cell>
    </ng-container>

    <ng-container cdkColumnDef="division">
      <mat-header-cell *cdkHeaderCellDef>Division</mat-header-cell>
      <mat-cell *cdkCellDef="let element">{{ element.division }}</mat-cell>
    </ng-container>

    <ng-container cdkColumnDef="result">
      <mat-header-cell *cdkHeaderCellDef>Result</mat-header-cell>
      <mat-cell *cdkCellDef="let element">{{ element.result }}</mat-cell>
    </ng-container>

    <ng-container cdkColumnDef="pts">
      <mat-header-cell *cdkHeaderCellDef>Pts</mat-header-cell>
      <mat-cell *cdkCellDef="let element">{{ element.teamScore }}</mat-cell>
    </ng-container>

    <ng-container cdkColumnDef="opp">
      <mat-header-cell *cdkHeaderCellDef>Opp</mat-header-cell>
      <mat-cell *cdkCellDef="let element">{{ element.opponentScore }}</mat-cell>
    </ng-container>

    <ng-container cdkColumnDef="w">
      <mat-header-cell *cdkHeaderCellDef>W</mat-header-cell>
      <mat-cell *cdkCellDef="let element">{{ element.w }}</mat-cell>
    </ng-container>

    <ng-container cdkColumnDef="l">
      <mat-header-cell *cdkHeaderCellDef>L</mat-header-cell>
      <mat-cell *cdkCellDef="let element">{{ element.l }}</mat-cell>
    </ng-container>

    <ng-container cdkColumnDef="t">
      <mat-header-cell *cdkHeaderCellDef>T</mat-header-cell>
      <mat-cell *cdkCellDef="let element">{{ element.t }}</mat-cell>
    </ng-container>

    <ng-container cdkColumnDef="streak">
      <mat-header-cell *cdkHeaderCellDef>Streak</mat-header-cell>
      <mat-cell *cdkCellDef="let element">{{ element.fullStreak }}</mat-cell>
    </ng-container>

    <mat-header-row *cdkHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *cdkRowDef="let row; columns: displayedColumns;"></mat-row>
  </mat-table>
  <mat-paginator [pageSizeOptions]="[5, 10, 20]" [pageSize]="20" showFirstLastButtons></mat-paginator>
</div>
