mat-table {
  width: 98%;
  margin: 30px 10px 20px 10px;
}

.mat-cell:nth-child(1),
.mat-header-cell:nth-child(1) {
  flex: 0 0 8%;
}

.mat-cell:nth-child(2),
.mat-header-cell:nth-child(2) {
  flex: 0 0 20%;
}

.mat-cell:nth-child(3),
.mat-header-cell:nth-child(3) {
  flex: 0 0 8%;
}

.mat-cell:nth-child(4),
.mat-header-cell:nth-child(4) {
  flex: 0 0 11%;
}

.mat-cell:nth-child(6),
.mat-header-cell:nth-child(6) {
  flex: 0 0 3.5%;
}

.mat-cell:nth-child(7),
.mat-header-cell:nth-child(7) {
  flex: 0 0 3.5%;
}

.mat-cell:nth-child(8),
.mat-header-cell:nth-child(8) {
  flex: 0 0 3.5%;
}
