<div class="gray-border">
  <mat-table #table [dataSource]="dataSource" matSort>
    <ng-container cdkColumnDef="year">
      <mat-header-cell *cdkHeaderCellDef mat-sort-header>Year</mat-header-cell>
      <mat-cell *cdkCellDef="let element"><a routerLink="{{ '/seasons/' + element.seasonId }}">{{ element.year }}</a></mat-cell>
    </ng-container>

    <ng-container cdkColumnDef="name">
      <mat-header-cell *cdkHeaderCellDef mat-sort-header>Team Name</mat-header-cell>
      <mat-cell *cdkCellDef="let element"><a routerLink="{{ '/teams/' + element.id }}">{{ element.name }}</a></mat-cell>
    </ng-container>

    <ng-container cdkColumnDef="standing">
      <mat-header-cell *cdkHeaderCellDef mat-sort-header>Div. Standing</mat-header-cell>
      <mat-cell *cdkCellDef="let element">{{ element.standing }}</mat-cell>
    </ng-container>

    <ng-container cdkColumnDef="divisionwinner">
      <mat-header-cell *cdkHeaderCellDef mat-sort-header>Div. Winner</mat-header-cell>
      <mat-cell *cdkCellDef="let element">{{ element.divisionwinner | nullToEmptyStr }}</mat-cell>
    </ng-container>

    <ng-container cdkColumnDef="gamesplayed">
      <mat-header-cell *cdkHeaderCellDef mat-sort-header>G</mat-header-cell>
      <mat-cell *cdkCellDef="let element">{{ element.gamesplayed }}</mat-cell>
    </ng-container>

    <ng-container cdkColumnDef="wins">
      <mat-header-cell *cdkHeaderCellDef mat-sort-header>W</mat-header-cell>
      <mat-cell *cdkCellDef="let element">{{ element.wins }}</mat-cell>
    </ng-container>

    <ng-container cdkColumnDef="losses">
      <mat-header-cell *cdkHeaderCellDef mat-sort-header>L</mat-header-cell>
      <mat-cell *cdkCellDef="let element">{{ element.losses }}</mat-cell>
    </ng-container>

    <ng-container cdkColumnDef="ties">
      <mat-header-cell *cdkHeaderCellDef mat-sort-header>T</mat-header-cell>
      <mat-cell *cdkCellDef="let element">{{ element.ties }}</mat-cell>
    </ng-container>

    <ng-container cdkColumnDef="winningpct">
      <mat-header-cell *cdkHeaderCellDef mat-sort-header>%</mat-header-cell>
      <mat-cell *cdkCellDef="let element">{{ element.winningpct | number:'0.3-3' }}</mat-cell>
    </ng-container>

    <ng-container cdkColumnDef="pointsfor">
      <mat-header-cell *cdkHeaderCellDef mat-sort-header>PF</mat-header-cell>
      <mat-cell *cdkCellDef="let element">{{ element.pointsfor | number:'1.1-1' | noComma }}</mat-cell>
    </ng-container>

    <ng-container cdkColumnDef="pointsagainst">
      <mat-header-cell *cdkHeaderCellDef mat-sort-header>PA</mat-header-cell>
      <mat-cell *cdkCellDef="let element">{{ element.pointsagainst | number:'1.1-1' | noComma }}</mat-cell>
    </ng-container>

    <ng-container cdkColumnDef="pfpg">
      <mat-header-cell *cdkHeaderCellDef mat-sort-header>PF/G</mat-header-cell>
      <mat-cell *cdkCellDef="let element">{{ element.pfpg | number:'1.1-1' | noComma }}</mat-cell>
    </ng-container>

    <ng-container cdkColumnDef="papg">
      <mat-header-cell *cdkHeaderCellDef mat-sort-header>PA/G</mat-header-cell>
      <mat-cell *cdkCellDef="let element">{{ element.papg | number:'1.1-1' | noComma }}</mat-cell>
    </ng-container>

    <ng-container cdkColumnDef="ppgdiff">
      <mat-header-cell *cdkHeaderCellDef mat-sort-header>+/-</mat-header-cell>
      <mat-cell *cdkCellDef="let element">{{ element.ppgdiff | number:'1.1-1' | noComma }}</mat-cell>
    </ng-container>

    <mat-header-row *cdkHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *cdkRowDef="let row; columns: displayedColumns;"></mat-row>
  </mat-table>

  <div [(hidden)]="!hideTeams">
    <mat-paginator [pageSizeOptions]="[10, 20, 50, 100]" [pageSize]="10" showFirstLastButtons></mat-paginator>
  </div>
</div>
