mat-card {
  background-color: #006600;
}

#header-component {
  min-width: 600px;
  margin: auto;
  /* border: 2px solid white; */
  text-align: center;
  padding: 15px;
}

.button-link {
  text-decoration: none;
  color: white;
}

.resized-button {
  height: 36px;
}

mat-card-title {
  color: white;
}
