#header-component {
  min-width: 800px;
  margin: auto;
  border-radius: 0px;
  text-align: center;
}

#top-bar {
  padding-bottom: 0px;
}

mat-card-title {
  padding: 10px 0px;
  font-size: 12px;
  font-weight: bold;
  color: white;
}

mat-card {
  background-color: #006600;
  padding: 10px 0px 0px 0px;
  border-radius: 0px;
}

#buttons-bar {
  background-color: #673AB7;
  height: 38px;
  clear: both;
}

.button-link {
  text-decoration: none;
  color: white;
}

.float-right {
  float: right;
}

.login-button {
  border: 2px solid white;
  border-radius: 0px;
  margin-left: 50px;
  padding-right: 20px;
}
