<mat-card>

  <mat-card-title>
    BMFFL League and Stats Website
  </mat-card-title>

  <mat-card-content>
    <button mat-raised-button color="primary" class="home-button">
      <span><a routerLink="/" class="button-link">Home</a></span>
    </button>
    <button mat-raised-button color="primary" class="home-button">
      <span><a routerLink="cardList" class="button-link">Scores</a></span>
    </button>

    <button mat-raised-button
      color="primary"
      [matMenuTriggerFor]="ownersMenu"
      #menuTrigger="matMenuTrigger"
      (mouseenter)="menuTrigger.openMenu()"
      (click)="goToRoute(owners)">
      Owners
    </button>
    <mat-menu #ownersMenu="matMenu" overlapTrigger=false>
      <button mat-menu-item routerLink='/owners'>View All Owners</button>
      <button mat-menu-item [matMenuTriggerFor]="upstairs">Upstairs</button>
      <button mat-menu-item [matMenuTriggerFor]="downstairs">Downstairs</button>
    </mat-menu>

    <mat-menu #upstairs="matMenu">
      <button mat-menu-item *ngFor="let owner of upstairsOwners">
        {{ owner.firstName + ' ' + owner.lastInitial}}</button>
    </mat-menu>

    <mat-menu #downstairs="matMenu">
      <button mat-menu-item *ngFor="let owner of downstairsOwners">
        {{ owner.firstName + ' ' + owner.lastInitial}}</button>
    </mat-menu>

    <button mat-raised-button color="primary" [matMenuTriggerFor]="menu2">
      Second Menu
    </button>
    <mat-menu #menu2="matMenu">
      <button mat-menu-item>
        <mat-icon>settings</mat-icon>
        <span><a routerLink='/'>Home</a></span>
      </button>
      <button mat-menu-item>
        <mat-icon>voicemail</mat-icon>
        <span><a routerLink='/owners'>Owners</a></span>
      </button>
      <button mat-menu-item>
        <mat-icon>notifications_off</mat-icon>
        <span><a routerLink='/teams'>Teams</a></span>
      </button>
    </mat-menu>
  </mat-card-content>

</mat-card>
