#header-component {
  min-width: 600px;
  margin: auto;
  text-align: center;
  border-radius: 0px;
}

mat-card {
  background-color: #006600;
  padding: 10px 0px 0px 0px;
  border-radius: 0px;
}

mat-card-title {
  padding: 10px 0px;
  font-size: 12px;
  font-weight: bold;
}

#buttons-bar {
  background-color: #673AB7;
}

.button-link {
  text-decoration: none;
  color: white;
}

mat-card-title {
  color: white;
}
