#cardList-div {
  display: block;
}

ul {
  list-style-type: none;
  padding-left: 0px;
  padding-top: 0px;
  padding-right: 0px;
  margin-top: 0px;
  display: flex;
}

li {
  border: 2px solid black;
  width: 20%;
  height: 150px;
}
