<form name="form-register" (ngSubmit)="register()">

  <mat-card id="register-form">
    <mat-card-header>
      <mat-card-title>Register</mat-card-title>
    </mat-card-header>

    <div class="form-container">
      <mat-form-field>
        <input matInput name="name" type="text" placeholder="full name" [(ngModel)]="user.name" required>
      </mat-form-field>

      <mat-form-field>
        <input matInput name="email" type="email" placeholder="email" [(ngModel)]="user.email" required>
      </mat-form-field>

      <mat-form-field>
        <input matInput name="username" type="text" placeholder="username" [(ngModel)]="user.username" required>
      </mat-form-field>

      <mat-form-field>
        <input matInput name="password" type="password" placeholder="password" [(ngModel)]="user.password" required>
      </mat-form-field>

      <button type="submit" id="submit-button">Register</button>
    </div>
  </mat-card>
</form>

<div id="errorMessage">
  <p>{{ errorMessage }}</p>
</div>
