#form-user {
  margin: auto;
  width: 500px;
  margin-top: 50px;
  border: 1px solid #B0B0B0;
  border-radius: 7px;
}

mat-card {
  padding: 0px 0px 16px 0px;
  margin: 0px;
}

.mat-card-header {
  justify-content: center;
  background-color: #006600;
  margin: 0px;
  width: 100%;
  height: 50px;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
}

mat-card-title {
  color: #FFFFFF;
  margin: auto;
  padding-top: 10px;
}

.form-container {
  display: flex;
  flex-direction: column;
  padding-top: 20px;
}

.form-container > * {
  margin: auto;
  width: 80%;
}

#button-div {
  padding-top: 10px;
}

.form-button {
  height: 40px;
  margin: 0px 19px;
  width: 40%;
  border-radius: 4px;
  font-size: 16px;
}
