#smackboard-container {
  width: 75%;
  margin: auto;
}

.form-container {
  display: flex;
  flex-direction: column;
  margin: 10px 0px;
  padding: 20px;
  border: 2px solid green;
  border-radius: 10px;
}

textarea {
  height: 100px;
}

.form-container > * {
  width: 100%;
}

.form-button {
  width: 110px !important;
}

.login-button {
  width: 15%;
}

.red {
  color: red;
}

ul {
  margin: 15px 0px;
  padding: 0px;
}
