.form-container {
  display: flex;
  flex-direction: column;
  margin: 20px 0px;
  padding: 15px;
  border: 2px solid #A8A8A8;
  border-radius: 10px;
}

.form-container > * {
  width: 100%;
  margin: auto;
}

.form-button {
  width: 110px !important;
  margin-left: 20px;
  float: right;
}

.float-left {
  float: left;
}

input {
  font-weight: bold;
  margin-bottom: -10px;
}

textarea {
  font-size: 0.85em;
  border: 2px solid #A8A8A8;
  border-radius: 5px;
  min-height: 20px;
  padding: 10px;
  margin-right: 20px;
  margin-bottom: -10px;
}

p {
  font-family: Courier, Helvetica, sans-serif !important;
  font-size: 12px !important;
  margin-bottom: 0px;
}

#buttons-div {
  margin-top: 15px;
}

:host::ng-deep .mat-form-field-wrapper {
  padding: 0px;
}

:host::ng-deep .mat-form-field-underline {
  display: none;
}
