.form-container {
  display: flex;
  flex-direction: column;
  margin: 20px 0px;
  padding: 20px;
  border: 2px solid #B8B8B8;
  border-radius: 10px;
}

.form-container > * {
  width: 100%;
  margin: auto;
}

.form-button {
  width: 110px !important;
  margin-left: 20px;
  float: right;
}

.float-left {
  float: left;
}

input {
  font-weight: bold;
}

textarea {
  font-size: 0.85em;
  height: auto;
}

p {
  font-family: Courier, Helvetica, sans-serif !important;
  font-size: 12px !important;
  margin-bottom: 2px;
}
