h2 {
  padding-left: 20px;
}

#left-col {
  width: 50%;
  float: left;
  padding: 20px;
  /* border: 2px solid green; */
}

#right-col {
  width: 50%;
  float: right;
  /* border: 2px solid blue; */
}

teams-table {
  margin: 20px;
}
