#left-col {
  width: 50%;
  float: left;
  /* border: 2px solid green; */
}

#right-col {
  width: 50%;
  float: right;
  border: 2px solid blue;
}

mat-grid-tile {
  border: 2px solid #D3D3D3;
  border-radius: 20px;
}
