<form name="form-signin" (ngSubmit)="login()">

  <mat-card id="login-form">
    <mat-card-header>
      <mat-card-title>Login</mat-card-title>
    </mat-card-header>

    <div class="form-container">
      <mat-form-field>
        <input matInput name="username" type="email" placeholder="username" [(ngModel)]="user.username" required>
      </mat-form-field>

      <mat-form-field>
        <input matInput name="password" type="password" placeholder="password" [(ngModel)]="user.password" required>
      </mat-form-field>

      <button type="submit" id="submit-button">Sign In</button>
    </div>
  </mat-card>

<p>{{ errorMessage }}</p>

</form>
<a [routerLink]="['/user/register']" class="btn btn-link">Create New Account</a>
