<h3>Bowery Maddness Fantasy Football League Homepage</h3>

<p>This site serves as a statistics portal and historical record for the BMFFL (2011-2019)</p>
<p>The main features of the site are:</p>
<ul>
  <li>A scoreboard that displays the current week's games. The drop down menus switch the scoreboard to a different week</li>
  <li>Owner information, including all-time stats and a list of teams</li>
  <li>Season information, including a list of champions</li>
  <li>Team Information, including season stats and a list of games with results</li>
  <li>Matchup Information: Choose any two owners to see a list of their head-to-head matchups and a comparison of their all-time stats</li>
  <li>All-time standings: lifetime stats for all owners</li>
  <li>A smackboard where owners and fans of the BMFFL can talk some smack (you need to create an account to create/update/delete posts on the smackboard)</li>
</ul>

<h4>BMFFL Championships by Owner:</h4>

<ul>
  <li>Dan O (2019, 2013)</li>
  <li>Ryan D (2018, 2015)</li>
  <li>Kyle P (2017, 2011)</li>
  <li>Brad L (2016)</li>
  <li>Drew M (2014)</li>
  <li>Sean S (2012)</li>
</ul>
