<matchup-form
(matchupEventEmt)=getMatchupStats($event)>
</matchup-form>

<!-- <mat-button-toggle-group name="fontStyle" aria-label="Font Style" value="allGames">
  <mat-button-toggle value="allGames" (change)="changeGames($event)">All Games</mat-button-toggle>
  <mat-button-toggle value="regularSeason" (change)="changeGames($event)">Regular Season</mat-button-toggle>
  <mat-button-toggle value="regAndPlayoffs" (change)="changeGames($event)">Reqular Season & Playoffs</mat-button-toggle>
  <mat-button-toggle value="playoffs" (change)="changeGames($event)">Playoffs</mat-button-toggle>
</mat-button-toggle-group> -->
<h2>All Time Stats</h2>

<div *ngIf="games">
  <h2>Head to Head</h2>
  <games-table [games]="games"></games-table>
</div>
