<matchup-form
(matchupEventEmt)=getMatchupStats($event)>
</matchup-form>

<div *ngIf="graphData">
  <form>
    <mat-form-field>
      <mat-select placeholder="Select Stat" [(ngModel)]="displayedStat" name="stat-select" (selectionChange)="getNewStat($event)">
        <mat-option *ngFor="let stat of statsArray" [value]="stat">{{ removeUnderScore(stat) }}</mat-option>
      </mat-select>
    </mat-form-field>
  </form>
  <double-vertical-bar-chart [data]="graphData"></double-vertical-bar-chart>
</div>

<div *ngIf="games && matchupStats">
  <matchup-totals [matchupStats]="matchupStats" [owner1]="owner1" [owner2]="owner2"></matchup-totals>
  <matchup-table [o1]="owner1" [o2]="owner2" [games]="games"></matchup-table>
</div>
