<matchup-form
(matchupEventEmt)=getMatchupStats($event)>
</matchup-form>

<div *ngIf="graphData">
  <h2>All Time Stats</h2>
  <form>
    <mat-form-field>
      <mat-select [(ngModel)]="displayedStat" name="stat-select" (selectionChange)="getNewStat($event)">
        <mat-option *ngFor="let stat of statsArray" [value]="stat">{{ removeUnderScore(stat) }}</mat-option>
      </mat-select>
    </mat-form-field>
  </form>
  <double-vertical-bar-chart [data]="graphData"></double-vertical-bar-chart>
</div>

<div *ngIf="games">
  <h2>Head to Head</h2>
  <matchup-totals [matchupStats]="matchupStats"></matchup-totals>
  <games-table [games]="games"></games-table>
</div>
